.membreCont { /*Mettre une couleur de fond pour le body*/
  background: #E7F0FF;
}

.box { /* permet de mettre un fond à l'arrière des texte et aligner le texte dans la case */
    text-align: center;
    width: 100%;
    margin-top: 0.5em;
    background: #ececec;
    box-shadow: 1px 1px 13px -2px rgba(0,0,0,0.54);
}

/* Css du titre */

.titreMembre  { /* Met en forme le titre principale de la page*/
  display: flex;
  height: 10em;
  flex-flow: row;
  justify-content: center;
}

.titreH { /*Padding pour le titre principale de la page*/
  padding-top: 1.2em;
}


/* Css pour les images */

.ImageMembre  { /* Met en forme les images*/
  width: 50%;
  margin-bottom: 0.5em;
}

.imgMembre { /*mettre en forme la photo avec de l'ombre*/
  display: flex;
  justify-content: center;
  width: 100%;
  /* border-radius: 10px; */
  box-shadow: 1px 1px 13px -2px rgba(0,0,0,0.54);
}


#first  { /* mettre un margin sur la première ligne (texte et photo)*/
  margin-bottom: 2em;
}

#second  { /* mettre un margin sur la deuxième ligne (texte et photo)*/
  margin-bottom: 2em;
}

.membreTxt  { /*Mettre en forme les zones de texte*/
  padding: 2em;
}

.horizontal { /*permet de mettre les blocs en ligne et justifier au centre*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.verticale {/*permet de mettre les blocs en colonne et mettre un margin haut*/
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2em;
}

/*responsive de la page*/

@media (max-width: 1100px){
  #first {
    display: flex;
    flex-flow: column-reverse;
  }
  #texte {
    width: auto;
  }
  #second {
    display: flex;
    flex-flow: column;
  }
  .ImageMembre  {
    width: 100%;
    margin: 0;
  }
  .box  {
    width: auto;
    margin: 0;
  }
}


.flex {  
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-items {
  align-items: center;
}

.width-80 {
  width: 80%;
}