/*  div pour le titre */
.titreProj  {
    display: flex;
    height: 10em;
    flex-flow: row;
    justify-content: center;
}
/* padding pour le titre de la div titre */
.titreH {
    padding-top: 1.2em;
}
/* div pour la présentation */
.presProj   {
    text-align: center;
    background: #ececec;
    box-shadow: 1px 1px 13px -2px rgba(0,0,0,0.54);
}
/* limitation de la width sur tout le contenu */
.contProj   {
    width: 80%;
}
/* background bleu sur le main */
.allContProj    {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #E7F0FF;
}
/* div avec un texte et une image*/
.texteImage {
    display: flex;
    flex-flow: row nowrap;
}
/* image dans la div presentation*/
.imgProjPres    {
    max-height: 22em;
    margin: 2em;
    box-shadow: 1px 1px 13px -2px rgba(0,0,0,0.54);
}
/* div de texte projet */
.projetTexte    {
    display: flex;
    align-items: center;
    padding: 2em;
}
/* image dans les div partie */
.imgProjPart    {
    max-height: 22em;
    margin-left: 2em;
}

h2  {
    padding-top: 1em;
}
/* div partie */
.blockProj  {
    margin-bottom: 5em;
}
/* Le responsive */
@media (max-width: 1100px)	{
    .texteImage {
        flex-flow: column nowrap;
    }
    .imgProjPres    {
        width: 100%;
        margin: 0;
    }
    .imgProjPart    {
        width: 100%;
        margin: 0;
    }
}